<div class="row">
  <div class="col-md-6">
    <h3>Pre-exercises</h3>
    <h5>(<strong>Mandatory exercises must be completed before the start of the workshop</strong>)</h5>
    <h5>(<strong>Submission of <a href="https://forms.gle/7YYRv6ZCTfRYiocr7" target=_blank>work assignments</a> is required as explained in the Orientation below</strong>)</h5>
    <table class="table table-striped">
        <tr><td>Mandatory 5 min</td><td><a href="ORIENTATION.html">Orientation</a></td></tr>
        <tr><td>Optional (external lesson)</td><td><a href="https://swcarpentry.github.io/shell-novice/">The Unix Shell</a></td></tr>
        <tr><td>Optional (external lesson)</td><td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git</a></td></tr>
        <tr><td>Optional (external lesson)</td><td><a href="https://swcarpentry.github.io/python-novice-inflammation/">Programming with Python</a></td></tr>
        <tr><td>Mandatory 2h</td><td><a href="https://cms-opendata-workshop.github.io/workshop2022-lesson-docker">Docker containers</a></td></tr>
        <tr><td>Mandatory 2h</td><td><a href="https://cms-opendata-workshop.github.io/workshop2022-lesson-dataset-scouting/">Dataset scouting</a></td></tr>
        <tr><td>Mandatory 2h</td><td><a href="https://cms-opendata-workshop.github.io/workshop2022-lesson-cpp-root-python/">ROOT with C++ and Python</a></td></tr>
        <tr><td>Mandatory 2h</td><td><a href="https://cms-opendata-workshop.github.io/workshop2022-lesson-cmssw/">Intro to CMSSW</a></td></tr>
        <tr><td>Mandatory 2h</td><td><a href="https://cms-opendata-workshop.github.io/workshop2022-lesson-introcloud/">Intro to cloud computing</a></td></tr>
    </table>
   </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Monday</h3>
    <table class="table table-striped">
      <tr><td>14:30-14:50</td><td><a href="fixme">Welcome and Intro</a></td><td>K. Lassila-Perini</td></tr>
      <tr><td>14:50-15:50</td><td><a href="fixme">Physics Objects: Intro and POET</a></td><td>M. Bellis,<br/>E. Carrera,<br/>K. Lassila-Perini</td></tr>
      <tr><td>15:50-16:30</td><td><a href="fixme">Physics Objects: Electrons</a></td><td>M. Bellis,<br/>E. Carrera,<br/>K. Lassila-Perini</td></tr>
      <tr style="background-color:#aaeeee"> <td>16:30-17:00</td><td>Break</td><td></td></tr>
      <tr><td>17:00-17:40</td><td><a href="fixme">Physics Objects: Muons</a></td><td>M. Bellis,<br/>E. Carrera,<br/>K. Lassila-Perini</td></tr>
      <tr><td>17:40-18:30</td><td><a href="fixme">Physics Objects: Jets</a></td><td>M. Bellis,<br/>E. Carrera,<br/> J. Hogan,<br/>K. Lassila-Perini</td></tr>
    </table>
  </div>
  <div class="col-md-6">
      <h3>Tuesday</h3>
    <table class="table table-striped">
      <tr><td>14:30-15:30</td><td><a href="fixme">Trigger</a></td><td>E. Carrera<br>&ensp;<br>&ensp;<br/></td></tr>
      <tr><td>15:30-16:30</td><td><a href="fixme">Luminosity</a></td><td>J. Yoo<br><br><br><br><br></td></tr>
      <tr style="background-color:#aaeeee"> <td>16:30-17:00</td><td>Break</td><td></td></tr>
      <tr><td>17:00-18:30</td><td><a href="fixme">Analysis example with Run 1 data</a></td><td>A. Geiser</td></tr>
    </table>
  </div>
</div>

<div class=" row">
  <div class="col-md-6">
    <h3>Wednesday</h3>
    <table class="table table-striped">
      <tr><td>14:30-15:10</td><td><a href="fixme">Simplified Run 2 analysis: Intro</a></td><td>E. Carrera,<br> T. Mc Cauley</td></tr>
      <tr><td>15:10-16:30</td><td><a href="fixme">Simplified Run 2 analysis: Analysis chain</a></td><td>E. Carrera,<br> T. Mc Cauley</td></tr>
      <tr style="background-color:#aaeeee"> <td>16:30-17:00</td><td>Break</td><td></td></tr>
      <tr><td>17:00-18:30</td><td><a href="fixme">Simplified Run 2 analysis: Systematics and Stats</a></td><td>E. Carrera,<br> T. Mc Cauley</td></tr>
    </table>
  </div>
  <div class="col-md-6">
      <h3>Thursday</h3>
    <table class="table table-striped">
      <tr><td>14:30-16:30</td><td><a href="fixme">Cloud Computing</a></td><td>C. Lange,<br>K. Lassila-Perini,<br>X. Tintin<br><br><br></td></tr>
      <tr style="background-color:#aaeeee"> <td>16:30-17:00</td><td>Break</td><td></td></tr>
      <tr><td>17:00-18:30</td><td><a href="fixme">Run 2 analysis with ADL</a></td><td>S. Sekmen</td></tr>
      <tr><td>18:30-18:45</td><td><a href="fixme">Wrap-up and feedback</a></td><td></td></tr>
    </table>
  </div>
</div>
